* { padding: 0; margin: 0; }
      html, body { height: 100%; }
      body { display: flex; }

      #google-map {
         margin: 0 auto 0 auto;
         border: 1px solid #ccc;
         width: 700px;
         height: 500px;
         align-self: center;
      }
      .feh-content * {
         font-family: 'uniform';
      }
      .feh-content h3 {
         font-weight: 500;
         margin-bottom: 10px;
      }
      .feh-content p {
         font-style: normal;
         line-height: 16px;
         font-weight: 400;
      }